body {
  margin:0;
  font-family: Arial;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
  }

  .navbar a:hover {
    background: #ddd;
    color: black;
    transition: 0.2s ease-in-out;
  }
  
  .main {
    margin-top: 50px; /* Add a top margin to avoid content overlay */
  }

  .icon {
    margin: -15px;
    height: 50px;
    border: 0;
    float: left;
    margin-right: 0px
  }