.ImagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: .25rem;
    width: 100%;
}

.ImagesContainer img {
    width: 100%;
    height: 100%;
    transition-duration: 200ms;
}

.ImagesContainer a {
    padding: 5px;
}

.ImagesContainer img:hover {
    transform: scale(1.02);
}