.ImagesContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
    width: 100%;
}

.ImagesContainer img {
    height: 40vh;
    min-height: 200px;
    margin: 5px;
    transition-duration: 200ms;
}

.ImagesContainer img:hover {
    transform: scale(1.02);
}